@import "variables.scss";

.bttn {
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $white;
  width: 75%;
  border-radius: 30px;
  display: block;
  cursor: pointer;

  @media #{$ipadpro} {
    max-width: 270px;
  }
}
.green-bttn {
  background: $azure;
  border: solid 1px $azure;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  &:hover {
    background: transparent;
    border: solid 1px $azure;
    color: $azure;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}
.light-orange-bttn {
  border: solid 1px $light-orange;
  background: $light-orange;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  &:hover {
    background: transparent;
    border: solid 1px $light-orange;
    color: $light-orange;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}
.dark-orange-bttn {
  background: $dark-orange;
  border: solid 1px $dark-orange;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  &:hover {
    background: transparent;
    border: solid 1px $dark-orange;
    color: $dark-orange;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}
.carousel-indicators {
  bottom: 160px;

  li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: 1;
    margin-left: 25px;
  }
  
  .active {
    background-color: $azure;
  }
}
