$main-font: "Montserrat", sans-serif;
$sans-pro: "Source Sans Pro", sans-serif;
$open-sans: "Open Sans", sans-serif;
$white: #ffff;
$azure: #50e3b3;
$azure-hover: #21b583;
$light-azure: #c2f5e5;
$light-grey: #6b696c;
$grey: #6d7893;
$medium-grey: #474648;
$dark-grey: #414042;
$dark-blue: #24345c;
$light-blue: #304578;
$light-orange: #ffcd81;
$dark-orange: #ffb74a;
$border-gray: #d5d5d5;
$dark-border-gray: #6c7793;

$ipadpro: "only screen and (max-width : 1024px)";
$ipad: "only screen and (max-width : 768px)";
$iphone: "only screen and (max-width : 414px)";
$iphone5: "only screen and (max-width : 320px)";
